ul.manu{
  list-style-type: none;
  width: 100%;
  height: 38px;;
  background-color: black;
  border-bottom: 4px solid orange;
  padding-left: 0;
}
ul.manu li{
  float: left;
  border-right: 1px solid orange;
  position: relative;
}
ul.manu li:last-child{
  border-right:none;
}
ul.manu li a{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  display: block;
}
ul.manu li a:hover{
  color: black;
  background-color: orange;
}
ul.manu li ul{
  list-style-type: none;
  padding: 0;
  position: absolute;
  left: -9999999999999999999999999px;
}
ul.manu li ul li{
  float: none;
  border-top: 1px solid orange;
  border-right: none;
  border-left: none;
  width: 200px;
  position: relative;
}
ul.manu li ul li:first-child{
  border-top: none;
}
ul.manu li:hover ul{
  left: 0;
}
ul.manu li ul li ul{
  position: absolute;
  top: -999999999999999px;
}
ul.manu li ul li:hover ul{
  top: 0;
  left: 200px;
}
