#upper_roman{
    list-style-type: upper-roman;
}
#lower_roman{
    list-style-type: lower-roman;
}
#upper_alpha{
    list-style-type: upper-alpha;
}
#lower_alpha{
    list-style-type: lower-alpha;
}
#image{
    list-style-image: url('images.jpg');
}
.inline{
    //display: inline-block;
    display: inline;
    background-color: greenyellow;
    padding: 10px;
}
#none{
    list-style-type:none;
}