div p:nth-child(2), div p:nth-child(4){
  font-weight: bolder;
  color: blue;
}
div p:nth-child(even)
{
  background-color: lightgray;
}
div p:nth-child(odd)
{
  background-color: gray;
  color: white;
}
