#MahVarsity{
    color: green;
    background-color: red;
    width: 150px;
}
#AbdVarsity{
    color: blue;
    background-color: aqua;
    width: 100px;
}
#RakVarsity{
    color: skyblue;
    background-color: green;
    width: 100px;
}