.box{
  width: 200px;
  height: 200px;
  border: 1px solid red;
  animation-name: box;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-duration: alternate;
}

@keyframes box {
  from{background-color: red}
  to{background-color: green}
}
